/*
	------------------
		Colors
	------------------
*/


$blue : #427FED;
$lightblue : #4D90FE;
$red : #FE2D2D;
$lightred : #FE4D4D;
$green : #66C566;
$lightgreen : #76D576;
$silver: #737373;
$silver2: #F5F5F5;
$silver3: #F8F8F8;
$silver4: #C6C6C6;
$blackons: #262653;
