@import "compass/reset";
@import "colourmap";
@import "buttons";
@import "layout";
@import "responsiveTable";
@import "nav";


h2 {
	font-size: 30px;
}

#content {
	width: 960px;
	height: auto;
	min-height: 300px;
	@extend .centerh;
	margin: {
		top: 2em;
		bottom: 2em;
	}
	padding: {
		top: 10px;
		bottom: 10px;
	}
}


#overallTable, #weekwinners, #daywinners {
	width: 350px;
}


%stock_stuff {
	@extend .center;
	top: 100px;
	width: 400px;
	height: 350px;
}

.up_arrow {
	&:before {
		content: "↑";
		color: $green;
		font-size: 1.1em;
	}
	color: $green;
}

.down_arrow {
	&:before {
		content: "↓";
		color: $red;
		font-size: 1.1em;
	}
	color: $red;
}

@import "home";
@import "portfolio";
@import "tradeschedule";
@import "lookup";
@import "market";
@import "rankings";
@import "history";
@import "help";
@import "mobile";
@import "ticker";
@import "load";